html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

p {
    color: #333;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem;
}

.light-mode {
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    background-color: burlywood;
    color: #333;
    border: 2px solid brown;
    max-width: 800px;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    height: 85vh;
}

.light-mode h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

div.img {
    aspect-ratio: 2 / 1;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    min-height: 300px;
   
}

div.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.img img#toggle-on {
    display: none;

}
.img img#toggle-off {
    display: block;
}
button {
    margin: 0 auto;
    width: 60%;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
button:hover {
    transform: scale(1.03);
    background-color: transparent;
    border: 2px solid brown;
    font-weight: 700;
    color: darkblue;
}

span strong {
    color: darkblue;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        max-width: 100%;
    }
    .light-mode {
        max-width: 100%;
        padding: 0;
       margin: 0 auto;
    }
    div.img {
        padding: 0;
        min-height: 200px;
    }
}
