* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, blue, lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem 2rem;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h1 {
    margin-bottom: 2rem;
    color: #333;
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: underline;
}


.color-box {
    width: 350px;
    height: 200px;
    border: 2px solid #333;
    margin-bottom: 2rem;
    border-radius: 5px;
    background: #333;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: self-end;
}

.slider label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #333;
}

.slider input[type="range"] {
    margin-right: 5px;
    height: 8px;
    width: 280px;

}

span {
    width: 30px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
}

button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 180px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: transparent;
    border: 1px solid blue;
    color: #333;
}

.input-type-value {
    font-weight: bold;
    font-size: 1.1rem;
    width: 180px;
    color: #333;
    padding: .90rem;
    border-radius: 5px;
    background: rgba(240, 222, 222, 0.6);
    border: 1px solid #333;
}